.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.button{
    background: var(--bg-bu);
    color: var(--bg);
    font-size: 16px;
    cursor: pointer;
    padding: 10px 14px ;
    border: none;
    border-radius: 5px;
    width: max-content;
}
@media screen and (max-width: 860px){
    .button{
        margin: 5px 40px;
    }
}