.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.button{
    font-size: 17px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #6d56ed;
}
@media screen and (max-width: 860px){
    .button{
        margin: 5px 40px;
    }
}