.container{
    margin: 20px 0 ;
    padding: 10px;
    /* position: relative; */
}
.title{
    border: none;
    margin-bottom: 10px;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: var(--TextColor);
    font-weight: 500;
}


.editor{
    position: relative;
    margin-top: 20px;
}
.plusIcon{
    width: 50px;
    background-color: #ffffff00;
}
.plusIcon2{
    width: 40px;
    background-color: #ffffff00;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid var(--TextColor);
    padding: 3px;
}

.button{
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom:20px ;
}
.addButton{
    background: none;
    border: none;
    cursor: pointer;
}
.add{
    transition: 1s;
    position: absolute;
    top: -5px;
     left: 100px;
}
.publish{
    position: absolute;
    top: 130px;
    right: 40px;
    background: var(--bg-bu);
    color: var(--bg);
    font-size: 16px;
    cursor: pointer;
    padding: 10px 14px ;
    border: none;
    border-radius: 5px;
    width: max-content;  
}

@media screen and (max-width:860px) {
    .title{
        font-size: 18px;
        margin-left: -10px;
        width: 78%;
    }
    .publish{
        top: 123px;
        right: 10px;
        font-size: 14px;
        padding: 8px 12px;
    }
}