.container {
    display: flex;
    flex-direction: column;
    padding: 40px 0 20px 50px;
    margin-top: 30px;
    background: var(--navbar-bg);
}

.cont {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.colfooter{
    margin-right: 30px;
    padding: 10px 10px 0;
}

.develop{
    font-size: 17px;
    text-align: center;
}
.footerInfo {
    margin-top: -10px;
    flex: 5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.footerLogo {
    display: flex;
    gap: 2px;
    align-items: center;
}

.footerimg {
    margin-top: -15px;
}

.footerDes {
    font-size: 14px;
    color: var(--SoftTextColor);
    width: 80%;
}

.social {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    flex: 1;
}


.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.menuName {
    font-size: 15px;
    font-weight: 500;
}

.footerLink {
    font-size: 13px;
    font-weight: 400;
    color: var(--SoftTextColor);
}


@media screen and (max-width:1024px) {
    .container {

        padding: 30px 20px;
    }

    .cont {
        gap: 10px;
    }

    .footerInfo {
        flex: 3;
    }
    .colfooter{
        border: none;
        margin-bottom: -10px;
    }
    
    .develop{
        font-size: 15px;
    }
}

@media screen and (max-width:760px) {
    .container{
        margin: 10px -7px 0;
    }
    .cont {
        flex-direction: column;
        gap: 35px;
    }

    .footerInfo {
        flex: 3;
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    .footerDes {
        width: 100%;
    }

    .social {
        display: none;
    }
}